html {
  font-size: 16px;
}

.App {
  text-align: center;
  margin-bottom: 0.5em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header.MuiAppBar-positionStatic {
    box-shadow: none !important;
    border-radius: 12px 12px 0 0 !important;
    background-color: #080808 !important;
}

span.MuiTabs-indicator {
  background-color: dodgerblue !important;
}

button.MuiButton-contained {
  margin: 1em !important;
  margin-right: .5em !important;
}

#clipboard-export {
  margin-left: 1.2em !important;
}